%h1 Listing tasks

%table.table.table-striped
  %tr
    %th Description
    %th Duedate
    %th{:colspan => "3", :style => "text-align: center"} Available actions
  - @tasks.each do |task|
    %tr
      %td= task.description
      %td= task.dueDate 
      %td= link_to 'Show', task
      %td= link_to 'Edit', edit_task_path(task)
      %td= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' }   
    %br

= link_to 'New Task', new_task_path 
